"""
credentials.py.dist:
    Example credentials file. Before running the project, copy this file to
    "credentials.py" and edit the values to match your environment:

    cp credentials.py.dist credentials.py

    IMPORTANT! NEVER HARD-CODE CREDENTIALS IN PRODUCTION! Use a secret
    management system or another method of supplying credentials.  This project
    is designed to demonstrate functionality in a simulated environment!
"""
# URL and API token for the NetBox instance
NETBOX_URL = "https://netbox"
NETBOX_TOKEN = "0123456789abcdef0123456789abcdef01234567"

# Username and password for your test environment's IOSXE device
DEVICE_USERNAME = "developer"
DEVICE_PASSWORD = "1234QWer"
